:root {
  --theme-dark: #090b11;
  --theme-light: #e1eaf2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--theme-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root {
  height: 100%;
  color: #fff;
}

.W {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.W > div {
  display: flex;
  flex-direction: column;
}

.W__top {
  flex: 0.6;
  align-items: center;
  justify-content: flex-start;
}

.W__city {
  margin-top: 50px;
  font-weight: 500;
}
.W__center {
  align-items: center;
  justify-content: center;
  flex: 1.5;
}
.W__center img {
  width: 50px;
}
.W__degree {
  margin-top: 40px;
  font-weight: 600;
  font-size: 4.8em;
}
.W__state {
  margin-top: 40px;
}

.W__wind {
  font-size: 1em;
  margin-top: 40px;
  font-weight: normal;
}

.W__velocity {
  font-size: 1em;
  margin-top: 15px;
}

.W__bottom {
  flex: 1;
}
